<%- include('partials/header') %>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
   
    <!-- <i class="fa-solid fa-basketball "></i> -->
   
    <a class="navbar-brand" href="#">Optyma</a> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white" ><b>Home</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white active" href="">Temp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="">Temp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="">Temp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/logout">Logout</a>
            </li>
         
          </ul>
    </div>
  </div>
</nav>

<div class="jumbotron content">
  <div class="row">
    <div class="col-sm-1">
      <img src="http://cdn.onlinewebfonts.com/svg/img_364496.png" class="card-img-top img" alt="temp pic."> <!--temp profile picture - user can udload his pic : https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_input_accept-->
    </div><!--col-->
    <div class="col-sm">
      <h1 class="display-4"><b>Welcome, #input_name#</b></h1>
    </div><!--col-->
  </div><!--row-->

  <div class="container">
    <div class="row">
      <div class = "col-md-6">
        <div class="row text-center">
          <div class="col-md-8">
            <h2>Upcoming Training</h2> <!--of corse it will be dinamic from the DB-->
            <div class="column">
              <div class="card">
                <h3>2/1/2022, 8:30 - Yael Prat at Shamir</h3>
                <p>Pilatis</p>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <h3>9/2/2022, 8:30 - Racel Dua at Katzrin</h3>
                <p>Yoga</p>
              </div>
            </div>
            
            <div class="column">
              <div class="card">
                <h3>3/4/2022 10:30 - Ron Sabag at Dan</h3>
                <p>Basketball</p>
              </div>
            </div>
            
            <div class="column">
              <div class="card">
                <h3>3/4/2022 10:30 - Michal Dua at Katzrin</h3>
                <p>Runing</p>
              </div>
            </div>
         </div><!--col-->
        </div><!--row-->
      </div><!--col-->
      
      <div class="col-md-6">
        <h2>This Month Data</h2>
        <div class="column">
          <div class="card">
            <h3>21 practices</h3>
            <p>bla bla bla</p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h3>22 MENOOYIM</h3>
            <p>bla bla bla</p>
          </div>
        </div>
      </div><!--col-->
    
    </div><!--row-->
  </div><!--continer-->
  
</div>  <!--jumbtron-->

<%- include('partials/footer') %>
